fieldset{
	width: 700px;

text-align: center;
margin-left: auto;
margin-right: auto;
}

ul{
	text-align: left;
	margin-bottom:
}

h1{
	margin-bottom: 0%;
	
}

h3{
	margin-top: 2%;
	border-bottom: solid;
}
